<div class="row">
  <div class="col-md-12">  
    <h4>Livros de {{author.name}}</h4>
    <hr>  
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Publication Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.publicationYear}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
