<div class="row">
  <div class="col-md-12">  
    <titulo titulo="Listar Livros" [acoes]="acoes"></titulo> 
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead> 
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Autor</th>
          <th scope="col">Ano de Publicação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <th scope="row">{{livro.id}}</th>
          <td>{{livro.nome}}</td>
          <td>{{livro.autor.nome}}</td>
          <td>{{livro.anoDePublicacao}}</td>
          <td><a class="btn btn-primary" role="button" [routerLink]="['editar', livro.id]">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>